@charset "utf-8";
.news {
  width: 1180px;
  margin: 20px auto;
  background: #ffff;
  padding: 6px 0;
  line-height: 26px;
  color: #808388;
  overflow: hidden;
}
.news h4 {
  font-size: 14px;
  color: #ff6a2d;
  padding: 0 30px;
  float: left;
  font-weight: 600;
}
.news .item {
  float: left;
  color: #808388;
  font-size: 12px;
  padding: 0 32px;
  min-width: 180px;
  overflow: hidden;
  text-align: center;
  margin-top: 10px;
  line-height: 14px;
  border-left: 1px solid #808388;
  text-decoration: none;
}
.news .item:hover {
  color: #ff6a2d;
}
.news .more {
  float: right;
  color: #ff6a2d;
  font-size: 13px;
  padding: 0 15px;
  margin-top: 5px;
  text-decoration: none;
}
.coupon {
  width: 1180px;
  margin: auto;
  margin-top: 20px;
  padding: 0 20px;
  overflow: hidden;
  line-height: 26px;
}
.coupon h4 {
  float: left;
  font-size: 22px;
  font-weight: 600;
  margin-left: -15px;
}
.coupon p {
  float: left;
  font-size: 14px ;
  margin-left: 14px;
  color: #ff6a2d;
  margin-top: 10px;
  font-weight: 500;
}
.coupon .more {
  float: right;
  color: #ff6a2d;
  font-size: 15px;
  margin-top: 12px;
  margin-right: -7px;
  text-decoration: none;
}
.coupon-shopping {
  width: 1180px;
  height: 266px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0 ;
  background: #fff;
  text-align: center;
}
.coupon-shopping #swiper2 {
  width: 100%;
  height: 100%;
}
.coupon-shopping #swiper2 .swiper-wrapper {
  width: 1180px;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide {
  float: left;
  width: 188px;
  height: 220px;
  border-radius: 6px;
  overflow: hidden;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide a::before {
  content: "";
  position: absolute;
  top: 150px;
  right: 90px;
  width: 16px;
  height: 16px;
  border-radius: 9em;
  background: #fff;
  z-index: 999;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide a {
  height: 220px;
  background: red;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide a img {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 80%;
  margin: 15px auto 8px;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide a h3 {
  font-size: 38px;
  color: #ff6a2d ;
  font-weight: 800;
  text-align: center;
  margin-top: 2px;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide a h4 {
  font-size: 14px;
  text-align: center;
  font-weight: 800;
  color: black;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide a p {
  color: #838487;
  bottom: 10px;
  text-align: center;
  padding: 0 20px;
}
.coupon-shopping #swiper2 .swiper-wrapper .swiper-slide a::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 90px;
  width: 16px;
  height: 16px;
  border-radius: 9em;
  background: #fff;
  z-index: 999;
}
.groundfloor-shop {
  background: #fff;
  margin-top: 15px;
}
.groundfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.groundfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.groundfloor-shop .content #swiper3 {
  width: 100%;
  height: 100%;
}
.groundfloor-shop .content #swiper3 .swiper-wrapper {
  width: 1180px;
}
.groundfloor-shop .content #swiper3 .swiper-wrapper .swiper-slide {
  width: 300px;
  height: 400px;
}
.groundfloor-shop .content #swiper3 .swiper-wrapper .swiper-slide a {
  text-decoration: none;
  overflow: hidden;
  height: 400px;
}
.groundfloor-shop .content #swiper3 .swiper-wrapper .swiper-slide a img {
  width: 280px ;
  height: 280px ;
  display: block;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
}
.groundfloor-shop .content #swiper3 .swiper-wrapper .swiper-slide a h3 {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.groundfloor-shop .content #swiper3 .swiper-wrapper .swiper-slide a h4 {
  margin-top: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  color: #ff6a2d;
}
.ticketing {
  margin-top: 15px;
}
.ticketing .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.ticketing .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.ticketing .content #swiper4 {
  width: 100%;
  height: 100%;
}
.ticketing .content #swiper4 .swiper-wrapper {
  width: 1180px;
}
.ticketing .content #swiper4 .swiper-wrapper .swiper-slide {
  width: 300px;
  height: 400px;
}
.ticketing .content #swiper4 .swiper-wrapper .swiper-slide a {
  text-decoration: none;
  overflow: hidden;
  height: 400px;
}
.ticketing .content #swiper4 .swiper-wrapper .swiper-slide a img {
  width: 280px ;
  height: 280px ;
  display: block;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
}
.ticketing .content #swiper4 .swiper-wrapper .swiper-slide a h3 {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.ticketing .content #swiper4 .swiper-wrapper .swiper-slide a h4 {
  margin-top: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  color: #ff6a2d;
}
.secondfloor-shop {
  background: #fff;
  margin-top: 15px;
}
.secondfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.secondfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.secondfloor-shop .content #swiper5 {
  width: 100%;
  height: 100%;
}
.secondfloor-shop .content #swiper5 .swiper-wrapper {
  width: 1180px;
}
.secondfloor-shop .content #swiper5 .swiper-wrapper .swiper-slide {
  width: 300px;
  height: 400px;
}
.secondfloor-shop .content #swiper5 .swiper-wrapper .swiper-slide a {
  text-decoration: none;
  overflow: hidden;
  height: 400px;
}
.secondfloor-shop .content #swiper5 .swiper-wrapper .swiper-slide a img {
  object-fit: cover;
  width: 280px ;
  height: 280px ;
  display: block;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
}
.secondfloor-shop .content #swiper5 .swiper-wrapper .swiper-slide a h3 {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.secondfloor-shop .content #swiper5 .swiper-wrapper .swiper-slide a h4 {
  margin-top: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  color: #ff6a2d;
}
.threeflorr-shop {
  margin-top: 15px;
}
.threeflorr-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.threeflorr-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.threeflorr-shop .content .list {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
  height: 570px;
}
.threeflorr-shop .content .list .shop-left {
  height: 550px;
  width: 210px;
  float: left;
  overflow: hidden;
  border: 1px solid #cccccc;
  text-decoration: none;
  margin-right: 5px;
  position: relative;
}
.threeflorr-shop .content .list .shop-left img {
  display: block;
  width: 100%;
  height: 510px;
  object-fit: cover;
  border-bottom: 1px solid  #f6f6f6;
}
.threeflorr-shop .content .list .shop-left .info-box {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: -43px;
  right: 0;
}
.threeflorr-shop .content .list .shop-left .info-box h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0 20px;
  height: 18px;
  margin-bottom: 23px;
}
.threeflorr-shop .content .list .shop-left .info-box b {
  display: block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 0 10px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.threeflorr-shop .content .list .item {
  float: left;
  width: 230px;
  height: 270px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 5px 10px 5px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  text-align: center;
}
.threeflorr-shop .content .list .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.threeflorr-shop .content .list .item a img {
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.threeflorr-shop .content .list .item a .info-box {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: -43px;
  right: 0;
}
.threeflorr-shop .content .list .item a .info-box h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0 20px;
  height: 18px;
  margin-bottom: 23px;
}
.threeflorr-shop .content .list .item a .info-box b {
  display: block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 0 10px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fourfloor-shop {
  margin-top: 15px;
  background: #fff;
}
.fourfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.fourfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.fourfloor-shop .content .list-one {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.fourfloor-shop .content .list-one .item {
  text-align: center;
  float: left;
  width: 228px;
  height: 268px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px 10px 0px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.fourfloor-shop .content .list-one .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.fourfloor-shop .content .list-one .item a img {
  object-fit: cover;
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.fourfloor-shop .content .list-one .item a h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0;
  height: 18px;
  margin-bottom: 23px;
}
.fivefloor-shop {
  margin-top: 15px;
}
.fivefloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.fivefloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.fivefloor-shop .content .list-two {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.fivefloor-shop .content .list-two .item {
  text-align: center;
  float: left;
  width: 228px;
  height: 268px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px 10px 0px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.fivefloor-shop .content .list-two .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.fivefloor-shop .content .list-two .item a img {
  object-fit: cover;
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.fivefloor-shop .content .list-two .item a h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0;
  height: 18px;
  margin-bottom: 23px;
}
.sixfloor-shop {
  margin-top: 15px;
  background: #fff;
}
.sixfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.sixfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.sixfloor-shop .content .list-three {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.sixfloor-shop .content .list-three .item {
  text-align: center;
  float: left;
  width: 228px;
  height: 268px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px 10px 0px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.sixfloor-shop .content .list-three .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.sixfloor-shop .content .list-three .item a img {
  object-fit: cover;
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.sixfloor-shop .content .list-three .item a h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0;
  height: 18px;
  margin-bottom: 23px;
}
.sevenfloor-shop {
  margin-top: 15px;
}
.sevenfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.sevenfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.sevenfloor-shop .content .list-four {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.sevenfloor-shop .content .list-four .item {
  text-align: center;
  float: left;
  width: 228px;
  height: 268px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px 10px 0px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.sevenfloor-shop .content .list-four .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.sevenfloor-shop .content .list-four .item a img {
  object-fit: cover;
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.sevenfloor-shop .content .list-four .item a h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0;
  height: 18px;
  margin-bottom: 23px;
}
.eightfloor-shop {
  margin-top: 15px;
  background: #fff;
}
.eightfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.eightfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.eightfloor-shop .content .list-five {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.eightfloor-shop .content .list-five .item {
  text-align: center;
  float: left;
  width: 228px;
  height: 268px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px 10px 0px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.eightfloor-shop .content .list-five .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.eightfloor-shop .content .list-five .item a img {
  object-fit: cover;
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.eightfloor-shop .content .list-five .item a h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0;
  height: 18px;
  margin-bottom: 23px;
}
.ninefloor-shop {
  margin-top: 15px;
}
.ninefloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.ninefloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.ninefloor-shop .content .list-six {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.ninefloor-shop .content .list-six .item {
  text-align: center;
  float: left;
  width: 228px;
  height: 268px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px 10px 0px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.ninefloor-shop .content .list-six .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.ninefloor-shop .content .list-six .item a img {
  object-fit: cover;
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.ninefloor-shop .content .list-six .item a h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0;
  height: 18px;
  margin-bottom: 23px;
}
.tenfloor-shop {
  margin-top: 15px;
  background: #fff;
}
.tenfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.tenfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.tenfloor-shop .content .list-seven {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.tenfloor-shop .content .list-seven .item {
  text-align: center;
  float: left;
  width: 228px;
  height: 268px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px 10px 0px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.tenfloor-shop .content .list-seven .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.tenfloor-shop .content .list-seven .item a img {
  object-fit: cover;
  width: 100%;
  height: 229px;
  display: block;
  border-bottom: 1px solid  #f6f6f6;
}
.tenfloor-shop .content .list-seven .item a h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
  padding: 0 20px 0;
  height: 18px;
  margin-bottom: 23px;
}
.elevenfloor-shop {
  margin-top: 15px;
}
.elevenfloor-shop .content {
  width: 1180px;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
.elevenfloor-shop .content h3 {
  font-size: 23px;
  color: black;
  font-weight: 800;
}
.elevenfloor-shop .content .list-eight {
  margin-top: 20px;
  overflow: hidden;
  width: 1190px;
}
.elevenfloor-shop .content .list-eight .item {
  float: left;
  width: 149px;
  height: 190px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.elevenfloor-shop .content .list-eight .item a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.elevenfloor-shop .content .list-eight .item a img {
  width: 100%;
  height: 130px;
  display: block;
  border: 1px solid  #f6f6f6;
  object-fit: cover;
}
.elevenfloor-shop .content .list-eight .item a h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-top: 10px;
  overflow: hidden;
}
.elevenfloor-shop .content .list-eight .item a h3:hover {
  color: #ff6a2d;
}
