@charset "utf-8";
.login-content {
  padding: 200px 0;
  overflow: hidden;
  background: #fff;
}
.login-content .login {
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
.login-content .login .login-img {
  width: 700px;
  height: 500px;
  float: left;
  background: url(http://www.anitoys.com/static/img/login-main-image.9ee0663.jpg) no-repeat 50% 50% #ffffff;
  background-size: contain;
}
.login-content .login form {
  float: left;
  width: 370px;
  margin-left: 20px;
  overflow: hidden;
}
.login-content .login form .member-login {
  width: 100%;
  line-height: 100px;
  margin-bottom: 11px;
  overflow: hidden;
}
.login-content .login form .member-login h1 {
  padding: 0;
  margin: 0;
  line-height: 100px;
  font-size: 28px;
  font-weight: 800;
  float: left;
}
.login-content .login form .member-login a {
  float: right;
  text-decoration: none;
  color: #888888;
  font-size: 14px;
}
.login-content .login form .member-login a:hover {
  color: #ff7b3a;
}
.login-content .login form .form-group input {
  height: 40px;
}
.login-content .login form .fg {
  position: relative;
}
.login-content .login form .fg img {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
}
.login-content .login form .checkbox a {
  float: right;
  margin-right: 135px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.login-content .login form .btns {
  width: 100%;
  margin-top: 11px;
  background: #ff6600;
  color: #fff;
  height: 38px;
}
