<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">  
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">    
		<script src="https://unpkg.com/swiper/js/swiper.js"> </script>  
		<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pulbic.css"/>
		<link rel="stylesheet" type="text/css" href="../css/commodity.css">
		<script type="text/javascript" src="../js/data.js"></script>
		<script type="text/javascript" src="../js/jQuery.js"></script>
		<link rel="icon" href="http://uploadv3.anitoys.com/anitoys/images/test/20190425/v03rsu2s096v1z5psligk6u1k81u4hmm.png">
		<title>粘土人 刘昴星-粘土人 - aniToys动漫商城</title>
		<style type="text/css">
			*{
				padding: 0;
				margin: 0;
			}
            .box{
                top:-380px;
                left: 30px;
				width: 350px;
				height: 350px;
                border: 2px solid #000;
              display: inline-block;
				/* margin: 0 auto; */
				position: relative;
			}
			.box .item{
				width: 100px;
				height: 100px;
				background: yellow;
				position: absolute;
				opacity: 0.3;
			}
			.box .item:hover{
				cursor: move;
			}
			.box img{
				width: 100%;
				height: 100%;
				vertical-align: top;
			}
			.warp{
				width: 400px;
				height: 400px;
				border:1px solid #000;
				position: absolute;
				right: 560px;
                top:370px;
                z-index: 99;
                overflow: hidden;
               
			}
			.warp img{
				position: absolute;
				top:0;
				left:0;
            }
           
			
		</style>
	</head>
	<body>
		<div class="wrap">
			<!------------导航------------>
			<div class="wrap-pull">
				<div class="container">
					<div class="nav-warp">
						<!-- logo部分 -->
						<div class="logo">
							<a href="index.html">
							</a>
						</div>
						<!-- 左边菜单 -->
						<div class="a-one">
							<a href="">旧货补款入口</a>
						</div>
						<div class="a-two">
							<a href="">优惠卷</a>
						</div>
					
						<!-- 登录和注册 -->
						<ul class="two-nav pull-right list-unstyled visible-lg visible-md">
							<li><a href="login.html" target="_self">登录</a></li>
							<li><a href="register.html" target="_self">注册</a></li>
						</ul>	
						<!-- 右边菜单 -->
						<ul class="one-nav list-unstyled pull-right visible-lg visible-md">
							<li><span><img src="../img/购物车.png" ></span> <a href="">购物车</a></li>
							<li><a href="">我的订单</a>
								<div class="pop-box"></div>
							</li>
							<li><a href="">我的aniToys</a>
							<div class="pop-box"></div>
							</li>
							<li><span><img src="../img/联系客服.png" ></span><a href="">联系客服</a></li>
							<li><a href="">站内信</a></li>
							<li><a href="">关注我们</a>
								<div class="pop-about">
									<i ></i>
									<a href="">官方微博</a>
									<i></i>
									<a href="">微信公众号</a>
								</div>
							</li>
							<li><span><img src="../img/手机版.png" ></span><a href="">手机版</a>
							<div class="pop-phone">
								<i></i>
								<p>扫码下载手机客户端</p>
							</div>
							</li>
						</ul>
					<a href="#" class=" visible-sm visible-xs" style="float: right;margin-top: 3%;">
						<span class="glyphicon glyphicon-align-justify"></span>
					</a>
					</div>
					
				</div>
			</div>
			<!-- 头部轮播 -->
			<div class="header-banners">
				<div class="search ">
					<button type="button" class="pull-right "><span><img src="../img/搜索.png" ></span></button>
					<input type="text"  value="" placeholder="搜索关键字" class="pull-right"/>
				</div>
			</div>
			<!-- 菜单 -->
			<div class="shop-nav">
                <div class="shop-nav-content">
                    <div class="listed">
                       
                    </div>
                </div>
            </div>
                <!-- 商品 -->
                <div class="shopps">
                    <div class="box">
                        <img src="http://uploadv3.anitoys.com/anitoys/images/test/20191128/ip2zgk36p2xuqgqpw375my6jqgfg1lb2.jpg" >		
                    </div>
                    <div class="warp">
                        <img src="http://uploadv3.anitoys.com/anitoys/images/test/20191128/ip2zgk36p2xuqgqpw375my6jqgfg1lb2.jpg" >
                    </div>
                    <div class="info-box">
                        <h1>粘土人 刘昴星</h1>
                        <p>料理是带给人们幸福的东西</p>
                        <div class="tags-box">
                            <span>预售</span>
                        </div>
                       <ul>
                           <li ><b>状态</b><span>预售中</span></li>
                           <li><b>价格</b><span>313元</span></li>
                           <li><b>定金</b><span>50元</span></li>
                           <li></li>
                           <li><b>规格</b><a href=""class="btn ">预售</a></li>
                           <li><b>数量</b><div class="xuanz"><input class="min" name="" type="button" value="-" style="width:20px;"/>
                            <input class="text_box" name="goodnum" type="text" value="1" style="width:50px;text-align: center;" />
                            <input class="add" name="" type="button" value="+" style="width:20px;"/></div></li>
                       </ul>
                       <div class="join">
                            <button class="btn act">加入购物车</button>
                            <button class="btn btn-warning">立即购买</button>
                       </div>
                       <div class="hor">
                           <a href="">收藏</a>
                           <a href="">查询</a>
                       </div>
                    </div>
                </div>
            <!-- 商品详情 -->
            <div class="content-box"> 
                <div class="sideleft">
                    <div class="contact">
                        <div class="seller">
                            <b>卖家:</b>
                            <h3>GoodSmile上海阿尼托官方旗舰店</h3>
                        </div>
                        <div class="service">
                            <b>客服:</b>
                            <a href=""></a>
                        </div>
                    </div>
                    <div class="search">
                        <h4>店内搜索</h4>
                        <form action="">
                            <input type="search" placeholder="关键字">
                            <button></button>
                        </form>
                    </div>
                    <div class="listall">
                        <h4>相关分类</h4>
                        <!-- <div class="item">
                            <h5>系列分类</h5>
                            <a >href=""></a>
                        </div> -->
                    </div>
                    <div class="exhibition">
                        <div class="cover">
                            <img src="http://uploadv3.anitoys.com/anitoys/images/test/20191128/ip2zgk36p2xuqgqpw375my6jqgfg1lb2.jpg" alt="">
                        </div>
                            <h3>粘土人 刘昴星</h3>
                            <p>料理是带给你们幸福的东西</p>
                            <b>￥313</b>
                       
                    </div>
                </div>
                <div class="sideright">
                    <div class="header">
                        <h3>规格参数</h3>
                        <div class="body">
                            <div class="cont-box">
                                <!-- <div class="item">
                                    <b>品牌</b>
                                    <span>上海的骄傲可是老大</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siderrights">
                    <div class="header">
                        <h3>商品详情</h3>
                        <div class="body">
                            <div class="cont-box">
                               <h6>商品详情：</h6>
                                  <p>来自高人气美食动画『厨神小当家』，史上最年轻的特级厨师「刘昴星」化为粘土人登场！</p>
                                  <p>替换表情配有「通常脸」，「生气脸」和「笑脸」共三种。</p>
                                  <p>配件配有作为厨师必不可少的「菜刀」「炒勺」「铁锅」，对阿昴来说非常重要的[麻婆豆腐]也有准备。</p>  
                                  <p>红色头巾也是可拆卸的，除此之外还附带了「纸模灶台」。</p> 
                                  <p>另外，即使是粘土人大小，替换肩上的特级厨师徽章也十分细致</p>
                                  <p>敬请入手史上最年轻的特级厨师「粘土人 刘昴星」吧！</p>
                                  <h2>物流与售后:</h2>
                                  <p><img src="http://uploadv3.anitoys.com/anitoys/images/test/20190726/hgolon4dstpsw27l7u33vjk39h86zgw3.jpg" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- 在线客服 -->
			<div class="thirteenfloor-shop">
					<div class="content">
						<img src="http://upload2016.anitoys.com/FocpUHA1fZPzUNllym2scSlg5ygi" alt="">
					</div>
			</div>
			<!-- 底部菜单 -->
			<footer>
				<div class="content">
					<div class="list-ten">
						<!-- <div class="item">
							<h3>常见问题</h3> 
							 <a href="">现货购买流程</a>
							<a href="">现货购买流程</a>
							<a href="">现货购买流程</a>
							<a href="">现货购买流程</a><a href="">现货购买流程</a> 
						</div> -->
					</div>
				</div>
				<div class="list-eleven"><h3>  © 阿尼托 上海索罗游信息技术有限公司 anitoys.com 版权所有沪ICP备11047967号-18</h3></div>
			</footer>
			
</div>

        <script type="text/javascript" src="../js/commodity.js"></script>
       
	</body>
</html>
