<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/pulbic.css" >
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="icon" href="http://uploadv3.anitoys.com/anitoys/images/test/20190425/v03rsu2s096v1z5psligk6u1k81u4hmm.png">
    <script type="text/javascript" src="../js/data.js"></script>
	<script type="text/javascript" src="../js/jQuery.js"></script>
    <title>aniToys动漫商城</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="login-interface">
            <!-- 登陆部分 -->
            <div class="login-content">
                <div class="login">
                    <a href="" class="login-img"></a>
                    <form action="" role="form">
                        <div class="member-login">
                               
                            <h1>会员登录</h1>
                             <a href="register.html">免费注册</a>
                        </div>
                        <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="用户名/邮箱地址/已验证手机号">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="填写密码">
                            </div>
                        <div class="form-group fg">
                            <input type="text" class="form-control" id="name" placeholder="验证码">
                            <img src="http://www.anitoys.com/api/user/reg/rand?1575609078151" alt="">
                            </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">下次自动登录
                            </label>
                            <a href="forgetpassword.html" target="_self">忘记密码？</a>
                            </div>
                            <button type="submit" class="btn  btns"><a href="index.html" target="_self">去登录</a></button>
                            
                    </form>
                </div>
               
            </div>
            	<!-- 在线客服 -->
			<div class="thirteenfloor-shop">
					<div class="content">
						<img src="http://upload2016.anitoys.com/FocpUHA1fZPzUNllym2scSlg5ygi" alt="">
					</div>
			</div>
            <!-- 底部菜单 -->
			<footer>
                    <div class="content">
                        <div class="list-ten">
                            <!-- <div class="item">
                                <h3>常见问题</h3> 
                                 <a href="">现货购买流程</a>
                                <a href="">现货购买流程</a>
                                <a href="">现货购买流程</a>
                                <a href="">现货购买流程</a><a href="">现货购买流程</a> 
                            </div> -->
                        </div>
                    </div>
                    <div class="list-eleven"><h3>  © 阿尼托 上海索罗游信息技术有限公司 anitoys.com 版权所有沪ICP备11047967号-18</h3></div>
                </footer>
        </div>
    </div>
    <script type="text/javascript" src="../js/login.js"></script>
</body>
</html>