<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">  
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">    
		<script src="https://unpkg.com/swiper/js/swiper.js"> </script>  
		<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pulbic.css"/>
		
		<script type="text/javascript" src="../js/data.js"></script>
		<script type="text/javascript" src="../js/jQuery.js"></script>
		<link rel="icon" href="http://uploadv3.anitoys.com/anitoys/images/test/20190425/v03rsu2s096v1z5psligk6u1k81u4hmm.png">
		<title>搜索 - aniToys动漫商城</title>
		<style type="text/css">
			*{
				padding: 0;
				margin: 0;
			}
		
		</style>
	</head>
	<body>
		<div class="wrap">
			<!------------导航------------>
			<div class="wrap-pull">
				<div class="container">
					<div class="nav-warp">
						<!-- logo部分 -->
						<div class="logo">
							<a href="index.html">
							</a>
						</div>
						<!-- 左边菜单 -->
						<div class="a-one">
							<a href="">旧货补款入口</a>
						</div>
						<div class="a-two">
							<a href="">优惠卷</a>
						</div>
					
						<!-- 登录和注册 -->
						<ul class="two-nav pull-right list-unstyled visible-lg visible-md">
							<li><a href="login.html" target="_self">登录</a></li>
							<li><a href="register.html" target="_self">注册</a></li>
						</ul>	
						<!-- 右边菜单 -->
						<ul class="one-nav list-unstyled pull-right visible-lg visible-md">
							<li><span><img src="../img/购物车.png" ></span> <a href="">购物车</a></li>
							<li><a href="">我的订单</a>
								<div class="pop-box"></div>
							</li>
							<li><a href="">我的aniToys</a>
							<div class="pop-box"></div>
							</li>
							<li><span><img src="../img/联系客服.png" ></span><a href="">联系客服</a></li>
							<li><a href="">站内信</a></li>
							<li><a href="">关注我们</a>
								<div class="pop-about">
									<i ></i>
									<a href="">官方微博</a>
									<i></i>
									<a href="">微信公众号</a>
								</div>
							</li>
							<li><span><img src="../img/手机版.png" ></span><a href="">手机版</a>
							<div class="pop-phone">
								<i></i>
								<p>扫码下载手机客户端</p>
							</div>
							</li>
						</ul>
					<a href="#" class=" visible-sm visible-xs" style="float: right;margin-top: 3%;">
						<span class="glyphicon glyphicon-align-justify"></span>
					</a>
					</div>
					
				</div>
			</div>
			<!-- 头部轮播 -->
			<div class="header-banner">
				<div class="search ">
					<button type="button" class="pull-right "><span><img src="../img/搜索.png" ></span></button>
					<input type="text"  value="" placeholder="搜索关键字" class="pull-right"/>
				</div>
			</div>
			<!-- 菜单 -->
			<div class="menu">
				<div class="menu-content">
					<!-- 数据渲染生成多个div -->
				</div>
                </div>
                <!-- 全部商品 -->
                <div class="allshop">
                    <div class="allshop-content"></div>
                </div>
			<!-- 在线客服 -->
			<div class="thirteenfloor-shop">
					<div class="content">
						<img src="http://upload2016.anitoys.com/FocpUHA1fZPzUNllym2scSlg5ygi" alt="">
					</div>
			</div>
			<!-- 底部菜单 -->
			<footer>
				<div class="content">
					<div class="list-ten">
						<!-- <div class="item">
							<h3>常见问题</h3> 
							 <a href="">现货购买流程</a>
							<a href="">现货购买流程</a>
							<a href="">现货购买流程</a>
							<a href="">现货购买流程</a><a href="">现货购买流程</a> 
						</div> -->
					</div>
				</div>
				<div class="list-eleven"><h3>  © 阿尼托 上海索罗游信息技术有限公司 anitoys.com 版权所有沪ICP备11047967号-18</h3></div>
			</footer>
			
</div>

		<script type="text/javascript" src="../js/newproducts.js"></script>
		
		</script>
	
	</body>
</html>
